/*===========================================================*/
/*                 Fluid Theme Custom Sass                   */
/*===========================================================*/

@import "_settings";              // Foundation Settings
@import "_foundation";            // Foundation Core
@import "_global";                // Base style & variables
@import "components/_buttons";    // Button tweaks
@import "components/_forms";      // Form tweaks
@import "components/_media";      // WP media
@import "components/_wp-classes"; // WP generated classes
@import "layouts/_general";       // General styling
@import "layouts/_header";        // Header styling
@import "layouts/_sidebar";       // Sidebar styling
@import "layouts/_footer";        // Footer styling
@import "layouts/_pages";         // Page styling
@import "layouts/pages/_home";    // Home page styling
@import "layouts/_posts";         // Post styling

/*===========================================================*/
/*========================  Mixins  =========================*/
/*===========================================================*/

@mixin bp($point) {
  @if $point == xl {
    @media (max-width: 1024px) { @content; }
  }
  @else if $point == lg {
    @media (max-width: 768px)  { @content; }
  }
  @else if $point == md {
    @media (max-width: 640px)  { @content; }
  }
  @else if $point == sm {
    @media (max-width: 480px)  { @content; }
  }
  @else if $point == xs {
    @media (max-width: 320px)  { @content; }
  }
  @else {
    @media (max-width: #{$point}px)  { @content; }
  }
}
.button-white {
  @include button-base();
  background: $white !important;
  color: $secondary-color !important;
  padding: 10px 20px;
  transition: background 0.5s ease;
  &:hover {
    background: $primary-color !important;
    color: #fff !important;
    transition: all 0.5s ease;
  }
}
.button-orange {
  @include button-base();
  background: #FF8800 !important;
  padding: 10px 20px;
  transition: background 0.5s ease;
  &:hover {
    background: darken( #FF8800, 10% )!important;
    color: #fff !important;
    transition: all 0.5s ease;
  }
}
.button-blue {
  @include button-base();
  background: $secondary-color !important;
  padding: 10px 20px;
  transition: background 0.5s ease;
  &:hover {
    background: darken( $secondary-color, 10% )!important;
    color: #fff !important;
    transition: all 0.5s ease;
  }
}
.button-article {
  @include button-base();
  background: $secondary-color !important;
  padding: 10px 0;
  transition: background 0.5s ease;
  display: block;
  color: $white;
  &:hover {
    background: darken( $secondary-color, 10% )!important;
    color: $primary-color !important;
    transition: all 0.5s ease;
  }
}
.edd_go_to_checkout, .edd_checkout a {
  @include button-base();
  background: $secondary-color !important;
  padding: 10px 20px !important;
  transition: background 0.5s ease;
  color: #fff !important;
  &:hover {
    background: darken( $secondary-color, 10% )!important;
    color: #fff !important;
    transition: all 0.5s ease;
  };
  color: $primary-color; 
}
/*===========================================================*/
/*======================  Navigation  =======================*/
/*===========================================================*/

.top-bar-section {
  float: none;
  ul {
    li {
      > a {
        text-transform: uppercase;
        @media screen and (max-width:1198px) {
          // padding: 0 0.2375rem !important;
        }
      }
    } 
  } 
} 
.top-bar .name h1 a {
  padding-left: 0;
  padding-right: 0;
  padding-top: 8px;
  img {
    // @media screen and (max-width:1024px) {
    //   max-width: 30%;
    // }
    // @media screen and (max-width:640px) {
    //   max-width: 40%;
    // }
    // @media screen and (max-width:480px) {
    //   max-width: 55%;
    // }
  }
}
.social-container {
  text-align: right;
  @media screen and (max-width:640px) {
    text-align: center;
  }
  .social-header {
    float: right;
    width: 100%;
    background: transparent !important;
    list-style: none;
    margin: 5px -15px 0 0 !important;
    padding: 0;
    @media screen and (max-width:640px) {
      margin-right: 0 !important;
      width: auto;
      display: inline-block;
      float: none;
    }
      li {
        float: left;
        margin-right: 5px;
        a {
          color: $white;
          font-size: 14px;
          line-height: 0 !important;
        }
        .fa {
          font-size: 28px !important;
        }
        &:last-child {
          margin-right: 0;
        }
      }
  }
}
.main-sub-nav {
  background: $primary-color;
  text-align: right;
  @media screen and (max-width:640px) {
    text-align: center;
  }
  .row {
    background: transparent;
    padding: 10px 0 5px;
    
    form {
      float: right;
      @media screen and (max-width:640px) {
        float: left;
        width: 100%;
      }
    }
    #cc_form_1 {
      margin: 0;
      padding: 0 !important;
      width: auto !important;
      float: right !important;
      @media screen and (max-width:640px) {
        float: none !important;
      }
      .cc_Go {
        @media screen and (max-width:640px) {
          float: right !important;
        }  
      }
      .input.t {
        @media screen and (max-width:640px) {
          max-width: 100%;
        }
      }
      .cc_email_address {
        @media screen and (max-width:640px) {
          width: 65%;
        }
      }
    }
    .gform_fields {
      margin: 0;
    }
    .gfield {
      float: left;
      margin: 0 !important;
      padding: 0 !important;
    }
    .button {
      @include button-base();
      background: $secondary-color !important;
      color: $white !important;
      padding: 5px 10px;
      margin: 5px 0 0 !important;
      transition: background 0.5s ease;
      &:hover {
        background: darken( $secondary-color, 20% )!important;
        color: #fff !important;
        transition: all 0.5s ease;
      }
    }
  }
  .subscribe-text {
    color: #FFFFFF;
    display: inline-block;
    text-align: right;
    padding: 6px 10px 0;
  }
}
/*===========================================================*/
/*=======================  Home Page  =======================*/
/*===========================================================*/
body {
  background: #eee;
  color: #444;
}
header {
  box-shadow: 0 4px 2px -2px #999;
}
section {
  float: left;
  width: 100%;
  .row {
    background: #fff;
    padding: 30px;
  }
}
.hero {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 600px;
  @media screen and (max-width:800px) {
    height: 400px;
  }
  .row {
    background: transparent;
    padding: 0;
  }
  .hero-vid-bg {
    background: rgba(206,206,206,0.7);
    margin-top: 100px;
    @media screen and (max-width:800px) {
      margin-top: 50px;
    }
    @media screen and (max-width:640px) {
      padding-top: 30px;
    }
    .flex-video {
      margin-bottom: 0;
    }
    .hero-vid-content {
      padding-top: 75px;
      @media screen and (max-width:950px) {
        padding-top: 15px;
      }
      h2 {
        color: $oil;
        font-size: 40px;
        padding: 0 0 15px 15px;
        @media screen and (max-width:950px) {
          font-size: 30px;
          padding-bottom: 0;
        }
        @media screen and (max-width:695px) {
          font-size: 24px;
          padding-bottom: 0;
        }
      }
      p {
        font-size: 20px;
        line-height: 26px;
        color: $oil;
        padding: 15px;
        @media screen and (max-width:950px) {
          font-size: 16px;
          line-height: 22px;
          padding: 5px 15px 15px;
        }
      }
    }
  }
  @media screen and (max-width:640px) {
    height: auto;
  }
}
.hero-secondary {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  position: relative;
  height: 350px;
  .quote-box {
    background: rgba(206, 206, 206, 0.7);
    width: 100%;
    padding: 20px 0 0;
    position: absolute;
    bottom: 0px;
    left: 0;
    min-height: 50px;
    .row {
      background:url(../img/quote.png) no-repeat top left;
      p {
        font-family: $font-family-serif;
        font-style: italic;
        font-weight: normal;
        text-align: left;
        font-size: 18px;
        padding: 0 0 0 60px;
        span {
          display: block;
          float: left;
          width: 100%;
          text-align: right;
          font-weight: normal;
          font-style: normal;
        }
      }
    }
  }
}
.home-content {
  padding: 20px 0;
  h1 {
    font-size: 30px;
    line-height: 30px;
    color: #666;
    border-bottom: 1px solid #dedede;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 24px;
    line-height: 30px;
    color: #666;
    margin: 10px 0 30px;
    text-align: center;
  }

}
.home-blue {
  background: $secondary-color;
  text-align: center;
  padding: 40px 0;
  .row {
    background: transparent;
    padding: 0;
    h3 {
      color: $white;
      font-size: 20px;
      text-align: center;
      line-height: 22px;
      border-bottom: 3px solid $primary-color;
      padding-bottom: 15px;
      margin-bottom: 15px;
      margin-top: 15px;
      display: inline-block;
    }
    p {
      color: $white;
      font-size: 16px;
      text-align: center;
      line-height: 22px;
    }
  }
}
.twitter {
  background: $white;
  padding: 40px 0;
  color: #474747;
  font-size: 16px;
  line-height: 26px;
  .row {
    background: transparent;
    padding: 0;
    h3 {
      color: #666;
      font-size: 18px;
      text-align: left;
      line-height: 22px;
      border-bottom: 1px solid #999;
      padding-bottom: 15px;
      margin-bottom: 30px;
      margin-top: 15px;
      display: inline-block;
      text-transform: uppercase;
    }
    h4 {
      color: #474747;
      font-size: 30px;
      text-align: left;
      font-weight: bold;
      line-height: 36px;
      padding-bottom: 5px;
      margin-top: 0;
      text-transform: none;
    }
  }
}
.home-green {
  background: $primary-color;
  padding: 40px 0;
  .row {
    background: transparent;
    padding: 0;
    h2 {
      font-size: 34px;
      line-height: 30px;
      color: #666;
      margin: 10px 0;
      text-align: left;
      color: #fff;
    }
    p {
      color: #fff;
      font-size: 16px;
      line-height: 22px;
      text-align: left;
    }
    .button-white {
      color: $primary-color !important;
      margin-top: 25px;
      &:hover {
        color: #fff !important;
        background: $secondary-color !important;
      }
    }
  }
}
.widget_archive, .widget_meta, .widget_recent_entries {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  h3 {
    color: $oil;
    font-size: 28px;
    text-align: left;
    line-height: 22px;
    border-bottom: 3px solid $primary-color;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: inline-block;
  }
}
.gform_fields {
  margin: 20px 0 0;
}
.gform_footer {
  input[type="submit"] {
    float: right;
  }
}
.article-snippet {
  position: relative;
  .article-bg {
    background-size: cover !important;
      h2 {
        font-size: 20px;
        border-bottom: 3px solid #81D744;
        margin: 15px;
        a {
          color: #fff;
        }
      }
      p {
        font-size: 14px;
        color: #fff;
        margin-left: 15px;
        margin-right: 15px;
        a {
          @include button();
          padding: 10px;
          margin-top: 30px;
          float: right;
        }
      }
  }
}
.add-dropdown {
  border-radius: 0;
  margin-bottom: 0;
}
.widget_archive, .widget_recent_entries {
  ul {
    li {
      display: block;
      border-bottom: 1px solid #ccc;
      a {
         @include button-base();
          background: $secondary-color !important;
          padding: 10px 20px;
          transition: background 0.5s ease;
          border-radius: 0 !important;
          color: #fff;
          width: 100%;
          margin: 0 !important;
          &:hover {
            background: darken( $secondary-color, 10% )!important;
            color: #fff !important;
            transition: all 0.5s ease;
          }
      }
    }
  }
}
a.pp-ssb-btn {
   @include button-base();
    background: $secondary-color !important;
    padding: 10px 20px;
    transition: background 0.5s ease;
    border-radius: 0 !important;
    color: #fff;
    width: 100%;
    margin: 0 !important;
    box-shadow: none !important;
    &:hover {
      background: darken( $secondary-color, 10% )!important;
      color: #fff !important;
      transition: all 0.5s ease;
    }
}
.videos {
  display: inline-block;
  height: 195px;
  overflow: hidden;
  @media screen and (max-width:1100px) {
    height: 170px; 
  }
  @media screen and (max-width:940px) {
    height: 135px; 
  }
  @media screen and (max-width:800px) {
    height: 107px; 
  }
  @media screen and (max-width:780px) {
    height: 85px;
  }
  @media screen and (max-width:640px) {
    height: 245px;
  }
  @media screen and (max-width:480px) {
    height: 195px;
  }
  @media screen and (max-width:400px) {
    height: 148px;
  }
  @media screen and (max-width:320px) {
    height: 95px;
  }
  .video-thumb {
    margin-top: -35px;
    @media screen and (max-width:640px) {
      margin-top: -55px;
    }
  }
  .video-play {
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -30px;
    @media screen and (max-width:940px) {
      top: 45px;
    }
    @media screen and (max-width:800px) {
      top: 28px; 
    }
    @media screen and (max-width:780px) {
      top: 13px; 
    }
    @media screen and (max-width:640px) {
      top: 80px; 
    }
    @media screen and (max-width:400px) {
      top: 50px; 
    }
    @media screen and (max-width:320px) {
      top: 18px; 
    }
  }
}
h2.video-title {
  font-size: 20px;
  margin: 10px 0;
  text-align: left;
}
.downloads-intro {
  padding-bottom: 15px;
  border-bottom: 1px solid $gainsboro;
}
.download-image {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  img {
    width: 100%;
    height: auto;
  }
  .icon {
    background: url(../img/corner-bg.png) no-repeat 0 0;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    i {
      color: $secondary-color;
      float: right;
      margin: 7px 7px 0 0;
    }
  }
}
.downloads {
  h2 {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}
.edd-add-to-cart-label {
  @include button-base();
  background: $secondary-color !important;
  padding: 10px 20px;
  transition: background 0.5s ease;
  border: 0 !important;
  color: $white !important;
  margin: 0;
  &:hover {
    background: darken( $secondary-color, 10% )!important;
    color: #fff !important;
    transition: all 0.5s ease;
  }
}
/*===========================================================*/
/*========================  Footer  =========================*/
/*===========================================================*/

footer {
  padding: 0;
  float: left;
  width: 100%;
  margin-top: 20px;
  h3 {
      color: $oil;
      font-size: 20px;
      text-align: left;
      line-height: 22px;
      border-bottom: 3px solid $gainsboro;
      padding-bottom: 15px;
      margin-bottom: 15px;
      margin-top: 15px;
      display: inline-block;
    }
    .footer-info {
      background: $primary-color;
      padding: 20px 0;
    }
    .name {
      display: none;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        padding-right: 10px;
        a {
          color: $white;
          font-size: 14px;
        }
        .fa {
          font-size: 28px !important;
        }
      }
    }
    .legal {
      text-align: center;
      font-size: 12px;
      padding: 30px 0 15px;
    }
    .social-footer {
      float: right;
      @media screen and (max-width:640px) {
        float: none;
        text-align: center;
      }
      ul {
        @media screen and (max-width:640px) {
          display: inline-block;
        }
      }
    }
}

// Cart

.edd_checkout_cart_item_title, .edd_cart_item_price, .edd_cart_item_name {
  font-size: 16px;
  font-family: $font-family-serif;
}
#edd_checkout_cart a.edd-cart-saving-button {
 @include button-base();
  background: $secondary-color !important;
  padding: 10px 20px;
  transition: background 0.5s ease;
  border: 0 !important;
  color: $white !important;
  margin: 0;
  &:hover {
    background: darken( $secondary-color, 10% )!important;
    color: #fff !important;
    transition: all 0.5s ease;
  } 
}
.edd-cart {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    float: left;
    padding-right: 25px;
    &:last-child {
      clear: both;
      margin-top: 10px;
    }
  }
  .edd_subtotal {
    margin: 0;
  }
  .cart_item.empty {
    font-style: italic;
  }
}
.byline {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin: 5px 0;
  padding: 5px 0;
  color: $iron;
  font-size: 14px;
  font-weight: 300;
}
.podcast-bucket-head {
  background: url(http://cozgreen.com/wp-content/uploads/2015/04/podcast-head-TEMP.jpg) no-repeat top center;
  background-size: contain !important;
  width: 100%;
  height: 240px;
}
.article-nav {
  margin-top: 40px !important;
}
